# ----------------------
# General Node.js & Logs
# ----------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# ----------------------
# Dependencies
# ----------------------
node_modules/
jspm_packages/
web_modules/
bower_components
.pnp
.pnp.*

# ----------------------
# Build Outputs (Global)
# ----------------------
# NestJS / General build
dist/
build/

# Next.js
.next/
out/

# Nuxt.js
.nuxt/

# VuePress / VitePress
.vuepress/dist
.temp
.cache
**/.vitepress/dist
**/.vitepress/cache

# Gatsby
.cache/
# public

# SvelteKit
.svelte-kit/

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB / Firebase
.dynamodb/
.firebase/

# Compiled binary addons
build/Release
.lock-wscript

# ----------------------
# Environment Variables
# ----------------------
.env
.env.*
!.env.example
!.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

# ----------------------
# Testing & Coverage
# ----------------------
coverage
*.lcov
.nyc_output
lib-cov

# ----------------------
# IDEs & Editors
# ----------------------
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-test

# JetBrains (WebStorm, IntelliJ)
.idea/
*.iml
*.iws

# Other IDEs
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db
*.pem
*.swp
*.swo
*~

# ----------------------
# Caches & Temp
# ----------------------
.cache/
.temp/
.tmp/
.parcel-cache/
.eslintcache
.stylelintcache
.npm
.node_repl_history
*.tgz
.tern-port

# ----------------------
# Yarn
# ----------------------
.yarn-integrity
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ----------------------
# Deployment & Services
# ----------------------
.vercel
.serverless/
.firebase/
.dynamodb/
.fusebox/

# ----------------------
# TypeScript
# ----------------------
next-env.d.ts

# ----------------------
# Vite
# ----------------------
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
